<style>


.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  text-align: center;
}

.table_area{
  width: 720px;
  height: 805px; 
  border: 0px solid Gainsboro;
}

.invest_table_area{
  width: 720px;
  height: 585px; 
  border: 0px solid Gainsboro;
}


.chart_area{
  width: 720px;
  height: 805px; 
  border: 0px solid #0072cd;
}

.axis {
  font: 10px sans-serif;
}

.axis path,

.axis line {
  fill: none;
  stroke: Gainsboro;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text{
  fill: Gainsboro;
}

.line {
  fill: none;
  stroke: DarkSlateGray;
  stroke-width: 1px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: LightSlateGray;
  stroke-width: 2px;
}

.hover-line {
  stroke: DimGray;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}



span.b {
  display: inline-block;
  width: 750px;
  height: 835px;
  padding: 5px 2.5px ;
  background:#071b2b;
}

span.d {
  display: inline-block;
  width: 750px;
  height: 250px;
  padding: 5px 2.5px ;

}

span.e {
  display: inline-block;
  width: 750px;
  height: 600px;
  padding: 5px 2.5px ;
  background:#071b2b;
}

span.filter {
  display: inline-block;
  vertical-align: middle;
  width: 750px;
  height: 170px;
  padding: 5px 5px;
  
}



span.rspace {
  display: inline-block;
  width: 750px;
  height: 1px;
  padding: 0px;
 
}


.table_area3{
  width: 690px;
  height: 1px; 
}

.form-control:valid {
  background-color:  #143643;!important;
  border: 0px;
  color: white;
}

.form-control{
    height:30px;
    line-height:30px;
    padding:6px;
  }

</style>